test_db.url=jdbc:mysql://127.0.0.1:3306/javalearn?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
test_db.username=root
test_db.password=replace-with-your-local-password

prd_db.url=jdbc:mysql://127.0.0.1:3306/javalearn?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
prd_db.username=root
prd_db.password=replace-with-your-local-password