html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;

    font-family: "JetBrains Mono Light";
    background: linear-gradient(to right bottom,antiquewhite,85%,white);
}
aside{
    position:absolute;
}
h1,article{
    text-align: center;
}